@import "tailwindcss";

.fill-google-logo-blue { fill: #4285F4; }
.fill-google-logo-green { fill: #34A853; }
.fill-google-logo-yellow { fill: #FBBC05; }
.fill-google-logo-red { fill: #EA4335; }


@keyframes typing-desktop {
    from {
        width: 0;
    }
    to {
        width: 15ch;
    }
}

@keyframes typing-mobile {
    from {
        width: 0;
    }
    to {
        width: 13ch;
    }
}


@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.typing-animation-desktop {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-desktop 2s steps(20, end) forwards;
}

.typing-animation-mobile {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing-mobile 2s steps(20, end) forwards;
}

html, body, #__next {
    overflow-x: hidden;
    width: 100%;
}
